table, th, td {
  border: 1px dotted AliceBlue;
  border-collapse: collapse;
}
table {
    position: relative
}

th, td {
  padding: 5px;
}
th {
  text-align: center;
  position: sticky;
  top: 0;
  background: rgba(72,61,139, 0.5);
}
td {
  text-align: center; font-family: Optima; font-size: 18px; font-style: normal; font-variant: normal; font-weight: normal; line-height: 30px; color: darkslateblue
}

h3 { font-family: Optima; font-size: 24px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 30px; color: aliceblue}
h4 { font-family: Optima; font-size: 18px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 30px; color: darkslateblue}

tr:hover {background-color: rgba(240,248,255, 0.5)}

table.center {
  width:80%;
  margin-left:10%;
  margin-right:10%;
}

.table-wrap:before {
    position: absolute;
    background: rgba(230, 230, 250, 0.5);
    filter:blur(4px);
    -o-filter:blur(4px);
    -ms-filter:blur(4px);
    -moz-filter:blur(4px);
    -webkit-filter: blur(4px);
    content: '';
    left: 0;
    top: 0;
    z-index: 1;
    width: 80%;
    height: 100%;
    margin-left:10%;
    margin-right:10%
}

.table-wrap {
    position: relative;
}

table.table {
    position: relative;
    z-index: 2;
    width:80%;
    margin-left:10%;
    margin-right:10%;
}