table, th, td {
  border: 1px solid AliceBlue;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th {
  text-align: center;
}
td {
  text-align: center; font-family: Optima; font-size: 18px; font-style: normal; font-variant: normal; font-weight: normal; line-height: 30px; color: darkslateblue
}

h3 { font-family: Optima; font-size: 24px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 30px; color: aliceblue}
h4 { font-family: Optima; font-size: 18px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 30px; color: darkslateblue}

.cursorBabyYoda {
  cursor: url('/uploads/BabyYoda.png'), auto;
}

button.fas {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}