<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Comment</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table_style.css') }}">
    <script src="https://kit.fontawesome.com/a4c27e0fdb.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h1>Add a New Comment</h1><br>
    {% if logged_in == 1 %}
        <form action="/answer/{{ id }}/new-comment" method="post" enctype="multipart/form-data">

            <label for="message"><h5>Message</h5></label><br>
            <textarea type="text" id="message" name="message" rows="8" cols="80" required></textarea><br><br>
            <button type="sumbit">Post Comment</button>
            <br><br>

        </form>
    {% else %}
        <h2>Please login first</h2>
        <form action="/login">
            <button type="submit">Go to login page</button>
        </form>
    {% endif %}
    <form action="/question/{{ question_id }}">
        <button type="submit">Cancel</button>
    </form>
</div>
</body>
</html>