<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Answer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table_style.css') }}">
    <script src="https://kit.fontawesome.com/a4c27e0fdb.js" crossorigin="anonymous"></script>
</head>
<body>



<div class="container">
    <h1>Add a New Answer</h1><br>
    <h3>{{ question[0]['title'] }}</h3>
    <h4>{{ question[0]['message'] }}</h4><br>
    {% if logged_in == 1 %}
        <form action="/question/{{ id }}/new-answer" method="post" enctype="multipart/form-data">

        <label for="message_input"><h5>Message</h5></label>
        <textarea type="text" id="message_input" name="message" rows="8" cols="80" required></textarea>
        <label for="image_input"><h5>Image</h5></label>
        <input type="file" id="image_input" name="file" rows="8" cols="80" enctype="multipart/form-data">
        <br>
        <br>
        <br>

        <button type="sumbit">Post Answer</button><br>
        <br>
    {% else %}
        <h2>Please login first</h2>
        <form action="/login">
            <button type="submit">Go to login page</button>
        </form>
    {% endif %}
    </form>
    <form action="/question/{{ id }}">
        <button type="submit">Cancel</button>
    </form>

</div>
</body>
</html>