<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ question[4] }}</title>
</head>
<body>
<div style="text-align: center;"><h1>{{ question[4] }} </h1></div><br>
<form action="/question/{{ question_id }}/delete">
    <button type="submit">Delete Question</button>
</form>
<div style="alignment: center width: 300px; border: 15px solid green; padding: 50px; margin: 20px; text-align: center;"><p>{{ question[5] }}</p></div>ß

    <table style="width: 95%">
        <tr>
            <th><h3>ID</h3></th>
            <th><h3>Submission Time</h3></th>
            <th><h3>Vote Number</h3></th>
            <th><h3>Question ID</h3></th>
            <th><h3>Message</h3></th>
            <th><h3>Image</h3></th>
        </tr>

            {% for item in answers %}
                <tr>
                {% for word in item %}
                    <td>{{ word }}</td>
                    {% endfor %}
                    <td><form action="/answer/{{ item[0] }}/delete">
                        <button type="submit">Delete Answer</button>
                    </form></td>
                </tr>
            {% endfor %}

    </table>
    <form action="/question/{{ question_id }}/new-answer">
        <button type="submit">Add New Answer</button>
    </form>
    <form action="/list">
        <button type="submit">Go Back to Main Page</button>
    </form>
</body>
</html>