<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Question</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='display_question.css') }}">
</head>
<body>
<div class='centerplease'>
    {{ question[0]['title'] }}
</div>
<br>
<br>
<div class='centerpleaseMessage'>
    {{ question[0]['message'] }}
</div>
<h2>Tags</h2>
{% if tags != [] %}
    {% for tag in tags %}
        {{ tag['name'] }} <a href="/question/{{ question_id }}/tag/{{ tag['id'] }}/delete">X</a><br>
    {% endfor %}
{% else %}
    <h4>No tags yet.</h4>
{% endif %}
<form action="/question/{{ question_id }}/new-tag" method="post">

    <label for="existing_tag">Or select from existing tags:</label><br>
    <select id="existing_tag" name="existing_tag">
        <option value="add_new_tag">-</option>
        {% for tag in tags %}
            <option value="{{ tag['name'] }}">{{ tag['name'] }}</option>
        {% endfor %}
    </select><br>

    <label for="new_tag">Describe new tag:</label><br>
    <input type="text" id="new_tag" name="new_tag"><br>
    <button type="sumbit">Post Tag</button>

</form>
<br>
<div class="content">
    <div>
        {% if comments == [] %}
            <p>There are no comments yet.</p>
        {% else %}
            <input type="checkbox" id="question1" name="q" class="questions">
            <div class="plus">+</div>
            <label for="question1" class="question">
                Comments
            </label>
            <div class="container">
            <table>

            {% for item in comments %}
                <td>
                    <div class="answers">
                        {{ item['message'] }}
                    </div>
                </td>
                <td>
                    <form action="/comment/{{ item['id'] }}/edit">
                        <button type="submit">Edit Comment</button>
                    </form>
                </td>
                <td>
                    <form action="/comment/{{ item['id'] }}/delete">
                        <button type="submit">Delete Comment</button>
                    </form>
                </td>
                <td>
                    <form action="/comment/{{ item['id'] }}/add">
                        <button type="submit">Add Comment</button>
                    </form>
                </td>
            {% endfor %}
        {% endif %}
        </table>
        </div>
    </div>

</div>
<br>
<br>
<br>

{% for item in answers %}
    <div class="tabs">
        <input type="radio" name="tabs" id={{ item['id'] }} checked="checked">
        <label for={{ item['id'] }}>Answer</label>
        <div class="tab">

            <p>{{ item['message'] }}</p>
            <br>
            <div class="container">
                <table>
                    <tr>
                        <th>Submission Time</th>
                        <th>Vote Number</th>
                        <th>Image</th>
                    </tr>
                    <tr>
                        <td>{{ item['submission_time'] }}</td>
                        <td>
                            <form action="/answer/{{ item['id'] }}/vote-up">
                                <button type="submit">∧</button>
                            </form>
                            {{ item['vote_number'] }}
                            <form action="/answer/{{ item['id'] }}/vote-down">
                                <button type="submit">v</button>
                            </form>
                        </td>
                        <td><a href="{{ item[5] }}"><img src="{{ item['image'] }} " width="150" height="150"></a></td>
                        <td>
                            <form action="/answer/{{ item['id'] }}/delete">
                                <button type="submit">Delete Answer</button>
                            </form>
                        </td>
                        <td>
                            <form action="/answer/{{ item['id'] }}/edit">
                                <button type="submit">Edit Answer</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <input type="radio" name="tabs" id={{ item['message'] }}>
        <label for={{ item['message'] }}>Comments</label>
        {% for comment in answer_comments %}
            <div class="tab">
                <p>{{ comment['message'] }}</p>
                <br>
                <div class="container">
                    <table>
                        <tr>
                            <th>Submission Time</th>
                            <th>Times edited</th>
                        </tr>

                        <tr>
                            <td>
                                {{ comment['submission_time'] }}
                            </td>
                            {% if comment['edited_count'] == None %}
                                <td>
                                    There are 0 edits.
                                </td>
                            {% else %}
                                <td>
                                    {{ comment['edited_count'] }}
                                </td>
                            {% endif %}
                            <td>
                                <form action="/comment/{{ comment['id'] }}/edit">
                                    <button type="submit">Edit Comment</button>
                                </form>
                            </td>
                            <td>
                                <form action="/comment/{{ comment['id'] }}/delete">
                                    <button type="submit">Delete Comment</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            </div>
        {% endfor %}
    <br>
{% endfor %}
</body>
</html>