<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ question[4] }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='display_question.css') }}">
</head>



<div style="text-align: center; color: aliceblue"><h1>{{ question[4] }} </h1></div><br>
<form action="/question/{{ question_id }}/delete">
    <button type="submit">Delete Question</button>
</form>
    <p>{{ question[0]['title'] }}</p>
    <p>{{ question[0]['message'] }}</p>
    <h2>Tags</h2>
    {% if tags != [] %}
        {% for tag in tags %}
            {{ tag['name'] }} <a href="/question/{{ question_id }}/tag/{{ tag['id'] }}/delete">X</a><br>
        {% endfor %}
    {% else %}
        <h4>No tags yet.</h4>
    {% endif %}
    <form action="/question/{{ question_id }}/new-tag">
        <button type="submit">Add New Tag</button>
    </form>
    <div class="container">
	    <div class="table-wrap">
            <h2>Question Comments</h2>
    <table class="table">
        {% if comments != [] %}
            <tr>
                <th><h3>Message</h3></th>
                <th><h3>Submission Time</h3></th>
                <th><h3>Edited Count</h3></th>
            </tr>
        {% else %}
            <h4>No comments yet.</h4><br>
        {% endif %}
        {% for comment in comments %}

            <tr>
                <td>{{ comment['message'] }}</td>
                <td>{{ comment['submission_time'] }}</td>
                {% if comment['edited_count'] != None %}
                    <td>Edited {{ comment['edited_count'] }} time(s).</td>
                {% else %}
                    <td>Edited 0 times.</td>
                {% endif %}
                <td><form action="/comment/{{ comment['id'] }}/edit"><button type="submit">Edit Comment</button></form></td>
                <td><form action="/comment/{{ comment['id'] }}/delete"><button type="submit">Delete Comment</button></form></td>
            </tr>
        {% endfor %}
    </table>
    <form action="/question/{{ question_id }}/new-comment">
        <button type="submit">Add New Comment</button>
    </form>
    <h2>Answers</h2>
            {% if answers == [] %}
                <h4>No answers yet.</h4>
            {% endif %}
            {% for item in answers %}
               <table class="table">
                    <tr>
                        <th><h3>ID</h3></th>
                        <th><h3>Submission Time</h3></th>
                        <th><h3>Vote Number</h3></th>
                        <th><h3>Question ID</h3></th>
                        <th><h3>Message</h3></th>
                        <th><h3>Image</h3></th>
                    </tr>
                    <tr>
                        <td>{{ item['id'] }}</td>
                        <td>{{ item['submission_time'] }}</td>
                        <td><form action="/answer/{{ item['id'] }}/vote-up"><button type="submit">∧</button></form>{{ item['vote_number'] }}<form action="/answer/{{ item['id'] }}/vote-down"><button type="submit">v</button></form></td>
                        <td>{{ item['question_id'] }}</td>
                        <td>{{ item['message'] }}</td>
                        <td><a href="{{ item[5] }}"><img src="{{ item['image'] }} " width="150" height="150"></a></td>
                        <td><form action="/answer/{{ item['id'] }}/delete"><button type="submit">Delete Answer</button></form></td>
                        <td><form action="/answer/{{ item['id'] }}/edit">
                                <button type="submit">Edit Answer</button>
                            </form></td>
                    </tr>
               </table>
                <form action="/answer/{{ item['id'] }}/new-comment">
                    <button type="submit">Add New Comment</button>
                </form>
                {% if item['id'] in answer_ids %}
                    <table class="table">
                        <tr>
                            <th><h3>Message</h3></th>
                            <th><h3>Submission Time</h3></th>
                            <th><h3>Edited Count</h3></th>
                        </tr>
                        {% for comment in answer_comments %}
                            {% if item['id'] == comment['answer_id'] %}
                                <tr>
                                    <td>{{ comment['message'] }}</td>
                                    <td>{{ comment['submission_time'] }}</td>
                                    {% if comment['edited_count'] != None %}
                                        <td>Edited {{ comment['edited_count'] }} time(s).</td>
                                    {% else %}
                                        <td>Edited 0 times.</td>
                                    {% endif %}
                                    <td><form action="/comment/{{ comment['id'] }}/edit"><button type="submit">Edit Comment</button></form></td>
                                    <td><form action="/comment/{{ comment['id'] }}/delete"><button type="submit">Delete Comment</button></form></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                {% endif %}
            {% endfor %}


        </div></div>
    <form action="/question/{{ question_id }}/new-answer">
        <button type="submit">Add New Answer</button>
    </form>
    <form action="/list">
        <button type="submit">Go Back to Main Page</button>
    </form>
</body>
</html>