<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Comment</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table_style.css') }}">
    <script src="https://kit.fontawesome.com/a4c27e0fdb.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h1>Edit Comment</h1>
    <form action="/comment/{{ comment[0]['id'] }}/edit" method="post">
        <label for="message"><h5>Message</h5></label><br>
        <textarea type="text" id="message" name="message" rows="8" cols="80" required>{{ comment[0]['message'] }}</textarea><br>
        <button type="submit" enctype="multipart/form-data">Edit Comment</button><br><br>
    </form>
    <form action="/question/{{ question_id }}">
        <button type="submit">Cancel</button>
    </form>
</div>
</body>
</html>