<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<table style="width: 100%">
    <tr>
        <th><h3>ID</h3></th>
        <th><h3>Submission Time</h3></th>
        <th><h3>View Number</h3></th>
        <th><h3>Vote Number</h3></th>
        <th><h3>Title</h3></th>
        <th><h3>Message</h3></th>
        <th><h3>Image</h3></th>
    </tr>
    {% for line in list_of_data %}
            <tr>
                <td>{{ line[0] }}</td>

                <td>{{ line[1] }}</td>

                <td>{{ line[2] }}</td>

                <td>{{ line[3] }}</td>

                <td><a href="/question/{{ line[0] }}" > {{ line[4] }} </a></td>

                <td>{{ line[5] }}</td>

                <td><img src ="{{ line[6] }}" alt="Felt cute, might add later" width="1" height="1"></td>
            </tr>
        {% endfor %}


</table>
<form action="/list" method="post">
    <p>Order By</p>
    <select name="Order By">
    <option value="id" name="id">ID</option>
    <option value="submission-time" name="submission-time">Submission Time</option>
    <option value="view-number" name="view-number">Views</option>
    <option value="vote-number" name="vote-number">Votes</option>
        <option value="title" name="title">Title</option>
    </select>
    <p>Direction</p>
    <select name="Direction" name="Direction">
        <option value = "asc" name="asc">Ascending</option>
        <option value = "desc" name="desc">Descending</option>
    </select>
    <button type="submit" value="order_button">Order It!</button>
</form>
</body>
</html>